@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    
}

body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/wp5430162-goku-and-kakashi-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    
}

.text-box {
    color: white;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    top: 15%;
    left: 15%;
    transform: translate(-10%, -10%);
    position: absolute;
}

.text-box h1{
    font-size: 30px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}


.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding:20px 85px 20px 85px;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.btn1 { 
    background:palevioletred;
}
.btn2 {
    background:#00b0bf;
}
.btn3 {
    background:orange;
}
.btn4 { 
    background:red;
}



p{
    font-size: 14px;
}

@keyframes btn1{
    0%, 100%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.05);
    }
}

    @keyframes btn2{
        0%, 100%{
            transform: scale(1.2);
        }
        50%{
            transform: scale(1.05);
            }
        }
            @keyframes btn3{
                0%, 100%{
                        transform: scale(1.2);
                    }
                    50%{
                    transform: scale(1.05);
                }
                }
                @keyframes btn4{
                    0%, 100%{
                    transform: scale(1.2);
                    }
                50%{
                transform: scale(1.05);
                    }
                    }
@media all and (max-width:380px) {
    .box{
        padding: 3px 20px 3px 20px;
    }
    body{
        width: 50%;
        height: 50%;
    }
    .text-box h1{
        font-size: 15px;
    }
    
    
}
